<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Tree" alias="Tree"/>
        <typeAlias type="mybatis.model.Myorder" alias="Myorder"/>
        <typeAlias type="mybatis.model.TreeSpecies" alias="TreeSpecies"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="MusicDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AlbumMapper.xml"/>
        <mapper resource="mybatis.xml/SongMapper.xml"/>
        <mapper resource="mybatis.xml/MyorderMapper.xml"/>
    </mappers>
</configuration>